
body {
  -webkit-font-smoothing: antialiased;
}

.intro-header,
.intro-create-app {
  text-align: center;
  font-size: 3em;
}

.api-footer {
  text-align: center;
  padding: 30px;
  color: #bbb;
}

.visible-xxs {
  display: none;
}


.blue-background {
  background-color: #34495E;
  color: #fff;
}

.btn-info {
  background-color: #34495E;
  border-color: #34495E;
  color: #fff;
}

.space-ship-background {
  background-image: url(/assets/neptune.svg), url(/assets/saturn.svg), url(/assets/space-ship.svg), linear-gradient(180deg, #212e3c 0%,#34495E 50%);
  background-position: 35% 15%, 95% -10%, -10% 30%, 0 0;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-size: 100px, 300px, 400px, 100%;
  background-attachment: fixed;
  // animation: animatedBackground 400s linear infinite;
  // animation-direction: alternate;
}

@keyframes animatedBackground {
  from { background-position: 35% 15%, 95% -10%, -10% 30%, 0 0; }
  to { background-position: 85% 15%, 35% -10%, -10% 30%, 0 0; }
}

.blue-background .main-content-container {
  background-color: #fff;
  color: #34495E;
  padding-top: 30px;
  margin-top: 30px;
}

.primary-container
{
  max-width: 1200px;
  margin: auto;
  width: 90%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  -webkit-align-items: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
}

.primary-container .index-main {

    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 75%;
    -ms-flex: 1 1 75%;
    flex: 1 1 75%;
}

.primary-container .index-menu {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 150px;
    -ms-flex: 1 1 150px;
    flex: 1 1 150px;
}
.main-column > footer {
  background-color: #fff;
  color: #34495E;
}


// <end index>

.api-footer i {
  padding: 5px 5px 0;
}

.reed {
  color: #B90837;
}

.intro-create-app {
  margin: 0 0 50px;
}

.icon-42 {
  height: 1em;
}

.resource-item .method-left-icon {
  display: inline-block;
  width: 25px;
  margin-left: 10px;
  text-align: right;
  color: #ccc;
}

.intro-header h1 {
  height: 150px;
  color: #fff;
  font-size: 2em;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  padding-bottom: 30px;
  font-weight: 300;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

.intro-header h1 > * {
  padding: 0 10px;
}
.intro-header h1 > i {
  color: #00babc;
}


.guides-menu {
  position: relative;
  margin-bottom: 300px;
}

.guides-menu li a {
  color: #666;
}


.guides-menu > li.active > a {
  color: #34495E;
}

.guides-menu #local-menu li.active a {
  color: #00babc;
}

.guides-menu #local-menu li a {
  padding: 5px;
  margin-left: 15px;
  padding-left: 15px;
  /*border-left: 5px solid #34495E;*/
}

header.main-page-header {
    border-bottom: 4px solid #fafafa;
    margin-bottom: 20px;
}

header.main-page-header .logo {
  height: 100px;
  min-width: 100px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100px auto;
  background-position: 0% 50%;
  font-size: 75px;
  padding-left: 110px;
  font-weight: 900;
  line-height: 85px;
}

header.main-page-header .logo small {
    max-width: 550px;
    display: inline-block;
    color: #34495E;
    font-size: 35px;
    font-weight: 300;
    line-height: 35px;
}

.page-header {
  margin-top: 30px;
}

.page-header h1 {
  font-size: 25px;
}


.sidebar-nav {
  padding: 9px 0;
}

.documentation .breadcrumb {
  background: transparent;
  background-image: none;
  
}

h3 i.material-icons {
  opacity: .5;
}

.side-column {
  border-left: 3px solid rgba(0, 0, 0, .03);
  padding: 0px;
}

.side-column li {
  list-style-type: none;
}

#method-params table td {
  border-top: none;
}
#method-params table td:first-child {
  
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

// #method-params table tr[data-level='1'] {
//   border-left: 1px solid #ddd;
// }

// #method-params table tr[data-level='1'] + tr[data-level='2'] {
//   border-top: 2px solid #ddd;
// }

// #method-params table tr[data-level='2'] + tr[data-level='1'] {
//   border-bottom: 2px solid #ddd;
// }

// #method-params table tr[data-level='2'] {
//   border-left: 2px solid #ddd;
// }

// #method-params table tr[data-level='2'] + tr[data-level='3'] {
//   border-top: 4px solid #ddd;
// }

// #method-params table tr[data-level='3'] + tr[data-level='2'] {
//   border-bottom: 4px solid #ddd;
// }

// #method-params table tr[data-level='3'] {
//   border-left: 4px solid #ddd;
// }

// #method-params table tr[data-level='3'] + tr[data-level='4'] {
//   border-top: 6px solid #ddd;
// }

// #method-params table tr[data-level='4'] + tr[data-level='3'] {
//   border-bottom: 6px solid #ddd;
// }

// #method-params table tr[data-level='4'] {
//   border-left: 6px solid #ddd;
// }

#method-params table td:first-child strong {
  flex: 1 1;
  padding-right: 5px;
}

#method-params span.delimiter {
  display: block;
  height: 1px;
  width: 100%;
  background: #ddd;
  flex: 0 1 100%;
  margin-left: 5px;
}

#disqus_thread {
  padding: 20px;
}

.main-container {
  // padding: 20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.main-container .main-column {
    margin: 20px 0 0 0;
    padding: 0px;
    float: none;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-right: 20px;
    max-width: 100%;
}

.main-container .side-column {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

img {
  max-width: 100%;
}

img[alt="auth_dialog"] {
  max-width: 50%;
  display: inline-block;
  /* border: 1px solid #eee; */
  box-shadow: 0px 0px 25px #eee;
  margin-right: 20px;
}

.main-container .side-column nav {
  /*width: 25%;*/
}

body footer {
  background-color: transparent;
  text-align: center;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  overflow-x: scroll;
} 


/* =========== resource containers ============= */

.resource-item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 15px;
    /*border-bottom: 2px solid #fcfcfc;*/
    padding: 15px;
    background-color: #fafafa;
  }

.resource-item:nth-child(odd)
{
    background-color: #fff;
}

.resource-item .resource-item-left {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-right: 10px;
    }

.resource-item .resource-item-right {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: left;
    padding-left: 10px;
    }
.resource-item .resource-item-right .resource-item-method a {
  font-size: 1.3em;
  color: #888;
}
.resource-item .resource-item-right .resource-item-method a:hover,
.resource-item .resource-item-right .resource-item-method a:active {
  color: #34495E;
}

.resource-item .resource-item-right .resource-item-method a .method {
  font-weight: bold;
}

.invisible {
  display: none;
}

.method-group {
  display: flex;
  align-content: stretch;
  align-items: center;
}

.metadata-icons
{
  display: inline-block;
  min-width: 100px;
  color: #666;
  font-size: 20px;
  flex: 1 0;
  text-align: center;
}

.inline-block
{
  flex: 1 1 100%;
  display: inline-block;
}


.inline-block + .pull-right
{
  flex: 1 1 80px;
}

.columns-container {
    -moz-box-align:stretch;
    -moz-box-direction:normal;
    -moz-box-orient:horizontal;
    -moz-box-pack:stretch;
    -ms-flex-align:stretch;
    -ms-flex-direction:row;
    -ms-flex-line-pack:justify;
    -ms-flex-pack:stretch;
    -ms-flex-wrap:nowrap;
    -webkit-align-content:space-between;
    -webkit-align-items:stretch;
    -webkit-box-align:stretch;
    -webkit-box-direction:normal;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:stretch;
    -webkit-flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -webkit-justify-content:stretch;
    align-content:space-between;
    align-items:stretch;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:stretch;
}


.column-left {
  padding: 0 20px;
}

.code-column {
  background-color: #1A252F;
}

.nav-tabs {
  background: #fff;
}

.column-right,
.column-left {
    -moz-box-flex:0;
    -moz-box-ordinal-group:1;
    -ms-flex:0 0 50%;
    -ms-flex-item-align:auto;
    -ms-flex-order:0;
    -webkit-align-self:auto;
    -webkit-box-flex:0;
    -webkit-box-ordinal-group:1;
    -webkit-flex:0 0 50%;
    -webkit-order:0;
    align-self:auto;
    flex:0 0 50%;
    max-width: 50%;
    order:0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #1A252F;
  border: none;
}

.main-summary {
  margin: auto;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}

.main-summary ul {
  list-style-type: none;
  margin: 0;
  display: block;
  text-align: center;
}

.main-summary li {
  margin: 0;
  font-size: 2em;
}

.main-summary li .odometer {
  color: #00babc;
  // font-weight: bold;
}

@media screen and (max-width: 1200px) {

  .main-container .main-column {
    padding: 0;
    max-width: 100%;
  }

  .navbar ul.nav  {
    display: block;
    margin-top: 10px;
    text-align: center;
  }

  .navbar ul.nav > li {
    display: inline-block;
  }

  .navbar ul.nav > li + li {
    margin-right: 10px;
  }

  .columns-container {
    display: block;
  }

  .column-right,
  .column-left {
    -moz-box-flex:0;
    -moz-box-ordinal-group:1;
    -ms-flex:1 0 100%;
    -ms-flex-item-align:auto;
    -ms-flex-order:0;
    -webkit-align-self:auto;
    -webkit-box-flex:0;
    -webkit-box-ordinal-group:1;
    -webkit-flex:1 0 100%;
    -webkit-order:0;
    align-self:auto;
    flex:1 0 100%;
    max-width: 100%;
    order:0;
  }

  .code-column {
    background-color: transparent;
  }
}




@media screen and (max-width: 767px) {

  .main-summary {
    padding-bottom: 50px;
  }


  .space-ship-background {
    background-image: url(/assets/neptune.svg), url(/assets/saturn.svg), linear-gradient(180deg, #212e3c 0%,#34495E 50%);
    background-position: 35% 15%, 95% -10%, 0 0;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 80px, 200px, 100%;
    background-attachment: fixed;
    // animation: animatedBackground 400s linear infinite;
    // animation-direction: alternate;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }

  .blue-background {
    margin: 0;
    padding: 0;
  }

  .blue-background .main-content-container {
    background-color: #fff;
    color: #34495E;
    padding: 10px;
    margin-top: 10px;
    margin: 0;
  }

  .primary-container
  {
    max-width: 100%;
    margin: auto;
    width: 100%;
    display: block;
  }

  .primary-container .index-main {

    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    max-width: 100%;
  }

  .primary-container .index-menu {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1;
      -ms-flex: 1 1;
      flex: 1 1;
  }

  h2 {
    font-size: 20px;
  }

  .documentation .container {
    width: 100%;
    margin: 0;
  }

  header.main-page-header {
    padding-bottom: 10px;
  }

  header.main-page-header .logo small {
    max-width: 100%;
    max-width: calc(100% + 80px);
    display: block;
    color: #34495E;
    font-size: 20px;
    font-weight: 300;
    margin-left: -80px;
    line-height: 35px;
  }
  header.main-page-header .logo {
    height: 100px;
    min-width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 70px auto;
    background-position: 0% 50%;
    font-size: 50px;
    padding-left: 80px;
    line-height: 90px;
  }

  .method-group {
    display: block;
  }

  .metadata-icons {
    display: none;
  }

  .navbar .nav>li>a:hover, .navbar .dropdown-menu a:hover {
    background-color: #1A252F;
    color: #fff;
  }

  .breadcrumb {
    margin-bottom: 0;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .1);
  }

  .code-column > #method-examples pre[class*="language-"] {
    background: #1A252F;
    border: none;
  }

  .table thead {
    display: none;
  }

  .table tr {
    display: block;
  }

  .container {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .affix {
    position: static;
  }

  .main-container {
    display: block;
  }

  .intro-header h1 {
    height: 80px;
    font-size: 1em;
  }
  .main-container .main-column {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 0;
  }
  .main-summary li {
    font-size: 1.2em;
  }

  .column-left {
    padding: 0px 0px;
  }

  .main-container .side-column {
    border: none;
    display: none;
  }

  .main-container .side-column nav {
    width: 100%;
    text-align: center;
  }

  .main-container .side-column nav header {
    font-size: 1.2em;
  }


  .page-header .pull-right {
    float: none !important;
  }

  .page-header .pull-right a.btn{
    float: none !important;
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .resource-item {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 15px;
    display: block;
    float: none;
    padding: 10px;
    background-color: #fafafa;
  }

  h2 {
    font-size: 2em;
  }

  h2 small {
    font-size: .7em;
  }

  .visible-xxs {
    display: block;
  }

  .resource-item-right,
  .resource-item-left {
    padding: 0;
  }

  .resource-item-right {

  }
  .resource-item .method-left-icon {
    display: inline;
    width: initial;
    margin-left: 0;
    text-align: right;
    color: #ccc;
  }
  .resource-item .resource-item-right .resource-item-method a {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-size: 1.2em;
  }

  .main-column > footer {
    margin: 0;
    padding-top: 50px;
  }

  .guides-menu {
    position: static;
    margin-bottom: 0px;
    width: 100%;
  }
}
