<h1 class='page-header'><%= t('moon_raker.no_doc_found') %></h1>
<p><%= t('moon_raker.no_docs_found_descr') %></p>
<p><%= t('moon_raker.follow_instructions_html',
    :href => link_to(t('moon_raker.follow_instructions_href'),
        "https://github.com/Pajk/moon_raker-rails#getting-started", :target => "_blank")) %></p>

